fastapi==0.109.2
uvicorn==0.27.1
python-dotenv==1.0.1
spacy==3.7.4
nltk==3.8.1
scikit-learn==1.4.0
wikipedia-api==0.6.0
numpy==1.26.4
pandas==2.2.0
python-multipart==0.0.9
pydantic==2.6.1
sentence-transformers==2.5.1
transformers==4.38.2
torch==2.2.1
cachetools==5.3.3
wikipedia==1.4.0
langchain-core>=0.1.28
langchain-text-splitters==0.0.1 